@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #45413e;
}

.wrapper_outer {
  width: 1280px;
  margin: 0 auto;
}
.wrapper_inner {
  padding: 0 55px;
}

.main {
  padding-top: 80px;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.btn__more, .btn__load {
  color: #e8e2d6;
  border-color: #e8e2d6;
  opacity: 0.5;
}
.btn__more:hover, .btn__load:hover {
  background-color: #e8e2d6;
  border-color: #e8e2d6;
  color: #45413e;
}
.btn__social {
  color: #3b5b96;
  border-color: #3b5b96;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
}
.btn__social:hover {
  background-color: #3b5b96;
  border-color: #3b5b96;
  color: white;
}
.btn__split {
  display: flex;
  padding-bottom: 10px;
}
.btn__split_left {
  border-radius: 20px 0 0 20px;
  width: 88px;
  border-right-width: 1px;
  color: black;
  border-color: #e5e5e5;
  font-weight: 600;
}
.btn__split_left:hover {
  background-color: white;
  border-color: #e5e5e5;
  color: #24c36c;
}
.btn__split_right {
  border-radius: 0 20px 20px 0;
  width: 110px;
  border-left-width: 1px;
  color: black;
  border-color: #e5e5e5;
  text-transform: uppercase;
  font-weight: 600;
}
.btn__split_right:hover {
  background-color: white;
  border-color: #e5e5e5;
  color: #24c36c;
}
.btn__load {
  width: 266px;
  opacity: 0.8;
  margin-top: 50px;
}

.header {
  position: fixed;
  display: flex;
  width: 1280px;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e8e2d6;
}
.header__item {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  font-weight: 600;
}
.header__item:hover {
  cursor: pointer;
}
.header__link {
  text-decoration: none;
  color: #45413e;
  width: 372px;
  height: 10px;
  font-weight: 600;
  font-size: 1rem;
}
.header__link:visited {
  color: inherit;
}
.header__link:hover {
  color: inherit;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__name {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.logo__name_main {
  height: 33px;
  color: #011847;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.logo__name_secondary {
  height: 25px;
  color: #85bc23;
  font-size: 18px;
  font-weight: 400;
}

.menu {
  display: flex;
  align-items: center;
  height: 80px;
}
.menu__navigation {
  height: 80px;
}
.menu .navigation {
  height: 80px;
  padding: 0;
  margin: 0;
}
.menu .navigation__item {
  margin-top: 15px;
  padding: 10px 10px 28px 10px;
}
.menu .navigation__item:hover {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .navigation__item:hover .header__link {
  color: #999999;
}
.menu .navigation .dropdown-menu {
  border: none;
  padding: 0;
  margin: 0;
}
.menu .navigation .dropdown-menu.open {
  display: table;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}
.menu .navigation .dropdown-header {
  color: white;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 25px;
}
.menu .navigation .dropdown-item {
  color: white;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.menu .navigation .dropdown-item:hover {
  background-color: inherit;
}
.menu .navigation .dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .navigation .dropdown-img {
  border: none;
  border-radius: 5px;
}
.menu .services {
  display: grid;
  grid-template-columns: 3fr 1fr 25%;
  background-color: #262a33;
  color: white;
  padding: 45px;
}
.menu .categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.menu .settings {
  margin-bottom: 5px;
}
.menu .settings__item {
  padding: 0 15px 0 15px;
  color: #999999;
}
.menu .operations {
  margin-bottom: 0;
}
.menu .operations__item {
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1.4rem;
}

.navigation .dropdown-toggle::after {
  margin-left: 25px;
}

.settings .dropdown-toggle::after {
  margin-left: 15px;
}

.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: #45413e;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__copyright {
  padding-bottom: 25px;
}
.footer__menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer__header {
  color: #45413e;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.footer__categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__icon {
  text-decoration: none;
  color: #45413e;
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1rem;
}
.footer__icon:visited {
  color: inherit;
}
.footer__icon:hover {
  color: inherit;
  cursor: pointer;
}
.footer__icon:hover {
  color: #b2b2b2;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.categories__column {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}
.categories__item {
  text-decoration: none;
  color: #45413e;
  padding: 8px 0;
}
.categories__item:visited {
  color: inherit;
}
.categories__item:hover {
  color: inherit;
  cursor: pointer;
}

.about {
  display: flex;
  height: 560px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.about__carousell {
  width: 75%;
}
.about__aside {
  width: 25%;
  height: 505px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  width: 870px;
  height: 505px;
  color: white;
  padding: 70px 65px 45px;
  display: flex;
  flex-direction: column;
}
.slide__1 {
  background: url("../img/main/carousel-img-1.jpg") rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  filter: contrast(150%);
  align-items: flex-start;
}
.slide__2 {
  background-image: url("../img/main/carousel-img-2.jpg");
  align-items: center;
}
.slide__3 {
  background-image: url("../img/main/carousel-img-3.jpg");
  align-items: flex-end;
}
.slide__heading {
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: 100px;
}
.slide__text {
  opacity: 0.7;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: 50px;
}

.sale {
  height: 345px;
  width: 270px;
  background-image: url("../img/main/sale.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sale__percents {
  font-size: 6rem;
  font-weight: 900;
  margin: 35px auto;
}
.sale__text {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.social__text_main {
  font-size: 1.125rem;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 35px;
  margin-bottom: 7px;
}
.social__text_secondary {
  font-size: 0.8125rem;
  text-align: center;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: -0.01rem;
  line-height: 1rem;
  margin-bottom: 25px;
}

.popular {
  background-color: #262a32;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular__title {
  padding-bottom: 40px;
  padding-top: 40px;
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular__line {
  width: 460px;
}
.popular__headding {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.popular__list {
  width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card {
  width: 268px;
  height: 365px;
  border-radius: 7px;
  color: #45413e;
  border: none;
  font-size: 1rem;
  position: relative;
}
.card__content {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 268px;
  height: 365px;
  left: 0;
  top: 0;
}
.card__overlay {
  background-image: linear-gradient(to top, rgba(28, 193, 103, 0.8), rgba(46, 211, 162, 0.8));
  border-radius: 7px;
  width: 268px;
  height: 365px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.card__img {
  display: block;
  width: 100%;
  background-color: #262a32;
  border-radius: 7px 7px 0 0;
}
.card__text {
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.card__title {
  text-align: center;
  margin: 0 15px 0 15px;
  letter-spacing: -1px;
  line-height: 1.2rem;
}
.card__price {
  font-size: 0.875;
  margin-bottom: 15px;
}
.card__message {
  background-image: linear-gradient(to top, rgba(103, 91, 153, 0.8), rgba(220, 89, 135, 0.8)), url("../img/main/message.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.card:hover > .card__overlay {
  display: block;
}

.overlay__buttons-group {
  width: 268px;
  height: 365px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.overlay__button {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
}
.overlay__button_plus {
  color: #23c46e;
}
.overlay__button_heart {
  color: #e73c68;
}

.message__content {
  width: 200px;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 35px 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.message__text {
  padding-bottom: 15px;
}

.banner {
  height: 445px;
  background-image: url("../img/main/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__headding {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 20px;
}
.banner__text {
  width: 335px;
  hyphens: auto;
  text-align: center;
  opacity: 0.9;
  line-height: 1rem;
}

/*# sourceMappingURL=index.css.map */
