@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #45413e;
}

.wrapper_outer {
  width: 1280px;
  margin: 0 auto;
}
.wrapper_inner {
  padding: 0 55px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrapper_outer {
    width: 100%;
  }
  .wrapper_inner {
    padding: 0 5%;
  }
}
.main {
  padding-top: 80px;
}

@media (max-width: 769px) {
  .main {
    padding-top: 60px;
  }
}
.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.btn__more, .btn__load {
  color: #e8e2d6;
  border-color: #e8e2d6;
  opacity: 0.5;
}
.btn__more:hover, .btn__load:hover {
  background-color: #e8e2d6;
  border-color: #e8e2d6;
  color: #45413e;
}
.btn__main {
  color: white;
  border-color: #85bc23;
  background-color: #85bc23;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
  width: 185px;
}
.btn__main:hover {
  color: white;
  border-color: #67911b;
  background-color: #67911b;
}
.btn__social {
  color: #3b5b96;
  border-color: #3b5b96;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
}
.btn__social:hover {
  background-color: #3b5b96;
  border-color: #3b5b96;
  color: white;
}
.btn__split {
  display: flex;
  padding-bottom: 10px;
}
.btn__split_left {
  border-radius: 20px 0 0 20px;
  width: 88px;
  border-right-width: 1px;
  color: black;
  border-color: #e5e5e5;
  font-weight: 600;
}
.btn__split_left:hover {
  background-color: white;
  border-color: #e5e5e5;
  color: #24c36c;
}
.btn__split_right {
  border-radius: 0 20px 20px 0;
  width: 110px;
  border-left-width: 1px;
  color: black;
  border-color: #e5e5e5;
  text-transform: uppercase;
  font-weight: 600;
}
.btn__split_right:hover {
  background-color: white;
  border-color: #e5e5e5;
  color: #24c36c;
}
.btn__load {
  width: 266px;
  opacity: 0.8;
  margin-top: 50px;
}

.card {
  width: 268px;
  height: 365px;
  border-radius: 7px;
  color: #45413e;
  border: none;
  font-size: 1rem;
  position: relative;
}
.card__content {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 268px;
  height: 365px;
  left: 0;
  top: 0;
}
.card__overlay {
  background-image: linear-gradient(to top, rgba(28, 193, 103, 0.8), rgba(46, 211, 162, 0.8));
  border-radius: 7px;
  width: 268px;
  height: 365px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.card__img {
  display: block;
  width: 100%;
  background-color: #262a32;
  border-radius: 7px 7px 0 0;
}
.card__text {
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.card__title {
  text-align: center;
  margin: 0 15px 0 15px;
  letter-spacing: -1px;
  line-height: 1.2rem;
}
.card__price {
  font-size: 0.875;
  margin-bottom: 15px;
}
.card__message {
  background-image: linear-gradient(to top, rgba(103, 91, 153, 0.8), rgba(220, 89, 135, 0.8)), url("../img/main/message.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.card:hover > .card__overlay {
  display: block;
}

.overlay__buttons-group {
  width: 268px;
  height: 365px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.overlay__button {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
}
.overlay__button_plus {
  color: #23c46e;
}
.overlay__button_heart {
  color: #e73c68;
}

@media (max-width: 769px) {
  .card {
    width: 290px;
  }
  .card__content {
    width: 100%;
  }
  .card__img {
    height: 260px;
  }
  .card__overlay {
    width: 100%;
  }
}
.link {
  text-decoration: none;
  color: #85bc23;
}
.link:hover {
  color: #67911b;
}

.header-desktop {
  position: fixed;
  display: flex;
  width: 1280px;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e8e2d6;
}

.header-mobile {
  display: none;
}

.header__item {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  font-weight: 600;
}
.header__item:hover {
  cursor: pointer;
}
.header__link {
  text-decoration: none;
  color: #45413e;
  width: 372px;
  height: 10px;
  font-weight: 600;
  font-size: 1rem;
}
.header__link:visited {
  color: inherit;
}
.header__link:hover {
  color: inherit;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__name {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.logo__name_main {
  height: 33px;
  color: #011847;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.logo__name_secondary {
  height: 25px;
  color: #85bc23;
  font-size: 18px;
  font-weight: 400;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}
.menu__navigation {
  height: 80px;
}
.menu .navigation {
  height: 80px;
  padding: 0;
  margin: 0;
}
.menu .navigation__item {
  margin-top: 15px;
  padding: 10px 10px 28px 10px;
}
.menu .navigation__item:hover {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .navigation__item:hover .header__link {
  color: #999999;
}
.menu .navigation .dropdown-menu {
  border: none;
  padding: 0;
  margin: 0;
}
.menu .navigation .dropdown-menu.open {
  display: table;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
}
.menu .navigation .dropdown-header {
  color: white;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 25px;
}
.menu .navigation .dropdown-item {
  color: white;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.menu .navigation .dropdown-item:hover {
  background-color: inherit;
}
.menu .navigation .dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .navigation .dropdown-img {
  border: none;
  border-radius: 5px;
}
.menu .services {
  display: grid;
  grid-template-columns: 3fr 1fr 25%;
  background-color: #262a33;
  color: white;
  padding: 45px;
}
.menu .categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.menu .settings {
  margin-bottom: 5px;
}
.menu .settings__item {
  padding: 0 15px 0 15px;
  color: #999999;
}
.menu .settings__item:hover {
  color: #7f7f7f;
}
.menu .operations {
  margin-bottom: 0;
}
.menu .operations_mobile {
  display: none;
}
.menu .operations__item {
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1.4rem;
}
.menu .operations__item:hover {
  color: #7f7f7f;
}

.navigation .dropdown-toggle::after {
  margin-left: 25px;
}

.settings .dropdown-toggle::after {
  margin-left: 15px;
}

@media (max-width: 769px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    position: fixed;
    background-color: white;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #e8e2d6;
  }
  .header-mobile__group {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .header-mobile .navbar-toggler {
    position: absolute;
    left: 0;
    top: 25%;
    padding: 0;
  }
  .header-mobile .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .logo__img {
    width: 45px;
    height: 45px;
  }

  .collapse {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #262a32;
    color: white;
  }

  .collapsing {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #262a32;
    color: white;
  }

  .navigation {
    padding-left: 0;
  }

  .header__item {
    display: block;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-img {
    width: 100%;
    border-radius: 5px;
  }
}
.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: #45413e;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__copyright {
  padding-bottom: 25px;
}
.footer__menu-desktop {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer__menu-mobile {
  display: none;
}
.footer__header {
  color: #45413e;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.footer__header-mobile {
  display: none;
}
.footer__categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__icon {
  text-decoration: none;
  color: #45413e;
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1rem;
}
.footer__icon:visited {
  color: inherit;
}
.footer__icon:hover {
  color: inherit;
  cursor: pointer;
}
.footer__icon:hover {
  color: #7f7f7f;
}
.footer__icon:hover {
  color: #b2b2b2;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.categories__column {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}
.categories__item {
  text-decoration: none;
  color: #45413e;
  padding: 8px 0;
}
.categories__item:visited {
  color: inherit;
}
.categories__item:hover {
  color: inherit;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .footer {
    grid-template-columns: 27% 1fr 5%;
  }
  .footer__social {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
  }
  .footer__social {
    flex-direction: row;
    justify-content: center;
  }
  .footer__header-desktop {
    display: none;
  }
  .footer__header-mobile {
    display: block;
  }
  .footer__menu-desktop {
    display: none;
  }
  .footer__menu-mobile {
    display: flex;
    flex-direction: column;
  }
  .footer__categories {
    display: flex;
    flex-direction: column;
  }

  .operations_mobile {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262a32;
    height: 55px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b2b2b2;
    padding-left: 0;
  }
  .operations_mobile .operations__item {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    font-weight: 600;
    color: #7c8084;
    margin: 0 20px;
    font-size: 1.5rem;
  }
}
.about {
  display: flex;
  height: 560px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.about__carousell {
  width: 75%;
  display: flex;
}
.about__aside {
  width: 25%;
  height: 505px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  width: 870px;
  height: 505px;
  color: white;
  padding: 70px 65px 45px;
  display: flex;
  flex-direction: column;
}
.slide__1 {
  background: url("../img/main/carousel-img-1.jpg") rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  filter: contrast(150%);
  align-items: flex-start;
}
.slide__2 {
  background-image: url("../img/main/carousel-img-2.jpg");
  align-items: center;
}
.slide__3 {
  background-image: url("../img/main/carousel-img-3.jpg");
  align-items: flex-end;
}
.slide__heading {
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: 100px;
  max-width: 560px;
}
.slide__text {
  opacity: 0.7;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: 50px;
  width: 336px;
  height: 31px;
  overflow: hidden;
}

.slick-initialized .slick-slide {
  display: flex;
}

.sale {
  height: 345px;
  width: 270px;
  background-image: url("../img/main/sale.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sale__percents {
  font-size: 6rem;
  font-weight: 900;
  margin: 35px auto;
}
.sale__text {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.social__text_main {
  font-size: 1.125rem;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 35px;
  margin-bottom: 7px;
}
.social__text_secondary {
  font-size: 0.8125rem;
  text-align: center;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: -0.01rem;
  line-height: 1rem;
  margin-bottom: 25px;
}

@media (max-width: 1279px) {
  .about__aside {
    width: 25%;
  }

  .sale {
    width: 100%;
  }
  .sale__percents {
    font-size: 4rem;
  }

  .about__carousell {
    width: 75%;
  }

  .slide {
    padding: 10%;
    background-position: right top;
  }
  .slide__heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 769px) {
  .about__aside {
    display: none;
  }

  .about__carousell {
    width: 100%;
  }

  .slide {
    padding: 5%;
  }
  .slide__heading {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .slide__text {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .btn__more, .btn__load {
    align-self: center;
    opacity: 0.8;
  }
}
.popular {
  background-color: #262a32;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular__title {
  padding-bottom: 40px;
  padding-top: 40px;
}
.popular__headding {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 0;
}
.popular__headding span {
  display: inline-block;
  position: relative;
}
.popular__list {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 30px;
}

.popular__headding span:before,
.popular__headding span:after {
  content: "";
  position: absolute;
  border-top: 1px solid white;
  width: 500px;
  opacity: 0.2;
}

.popular__headding span:before {
  right: 100%;
  margin-right: 15px;
}

.popular__headding span:after {
  left: 100%;
  margin-left: 15px;
}

.message__content {
  width: 268px;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 35px 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.message__text {
  padding-bottom: 15px;
}

@media (max-width: 1279px) {
  .popular {
    padding-top: 0;
  }
  .popular__list {
    width: 100%;
  }

  .message__content {
    width: 268px;
  }
}
@media (max-width: 769px) {
  .popular__list {
    margin: 0;
  }

  .message__content {
    width: 100%;
  }

  .popular__headding span:before,
.popular__headding span:after {
    content: "";
    position: absolute;
    border-top: 1px solid white;
    width: 90px;
    opacity: 0.2;
  }

  .btn__load {
    display: none;
  }
}
.banner {
  height: 445px;
  background-image: url("../img/main/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__headding {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 20px;
}
.banner__text {
  max-width: 335px;
  hyphens: auto;
  text-align: center;
  opacity: 0.9;
  line-height: 1rem;
}

@media (max-width: 1279px) {
  .banner {
    height: 300px;
  }
}
@media (max-width: 769px) {
  .banner {
    height: 185px;
  }
  .banner__headding {
    font-size: 2rem;
  }
}
.featured {
  background-color: #262a32;
  color: white;
  padding-bottom: 60px;
}
.featured__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.featured__headding {
  font-weight: 900;
  font-size: 2rem;
}
.featured__line {
  width: 235px;
  border: 1px solid white;
  opacity: 1;
}
.featured__slashes {
  font-size: 1.5rem;
}
.featured__list {
  display: flex;
  justify-content: space-between;
}
.featured .card {
  height: 295px;
}
.featured .card__text {
  height: 90px;
}
.featured .card__tag {
  color: #85bc23;
  font-weight: 900;
  padding-bottom: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  width: 590px;
  justify-content: space-between;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

.page-link {
  width: 30px;
  height: 30px;
  background-color: #2d3538;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.5rem;
}

@media (max-width: 1279px) {
  .featured {
    display: none;
  }
}
.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #45413e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.benefits__item {
  display: flex;
  max-width: 330px;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}
.benefits__img {
  padding: 10px 35px 0 0;
}
.benefits__content {
  display: flex;
  flex-direction: column;
}
.benefits__title {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 15px;
}
.benefits__text {
  opacity: 0.4;
  font-size: 0.8125rem;
}

@media (max-width: 769px) {
  .benefits {
    flex-direction: column;
    align-items: center;
  }
  .benefits__item {
    padding: 15px 0;
  }
  .benefits__item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .benefits__img {
    width: 50%;
    padding: 0;
  }
  .benefits__img img {
    display: block;
    margin: 0 auto;
  }
  .benefits__content {
    width: 50%;
  }
}
.signin__content {
  width: 500px;
  height: 467px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.signin__heading {
  font-weight: 600;
}
.signin__notification {
  color: #85bc23;
  font-size: 0.75rem;
}
.signin__control {
  border-radius: 20px;
  margin-top: 10px;
}

.form-group {
  width: 405px;
}

.password-group {
  display: flex;
  width: 405px;
  justify-content: space-between;
  align-items: flex-end;
}

/*# sourceMappingURL=index.css.map */
