@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #45413e;
}

.wrapper_outer {
  width: 1280px;
  margin: 0 auto;
}
.wrapper_inner {
  padding: 0 55px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrapper_outer {
    width: 100%;
  }
  .wrapper_inner {
    padding: 0 5%;
  }
}
.main {
  padding-top: 80px;
}

@media (max-width: 769px) {
  .main {
    padding-top: 60px;
  }
}
.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.btn:focus {
  box-shadow: none;
}
.btn:focus:active {
  box-shadow: none;
}
.btn__more, .btn__load {
  color: #e8e2d6;
  border-color: #e8e2d6;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__more:hover, .btn__load:hover {
  background-color: #e8e2d6;
  border-color: #e8e2d6;
  color: #45413e;
}
.btn__main {
  color: white;
  border-color: #85bc23;
  background-color: #85bc23;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
  width: 185px;
}
.btn__main:hover {
  color: white;
  border-color: #67911b;
  background-color: #67911b;
}
.btn__main:focus {
  border-color: #85bc23;
  background-color: #85bc23;
}
.btn__social {
  color: #3b5b96;
  border-color: #3b5b96;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
}
.btn__social:hover {
  background-color: #3b5b96;
  border-color: #3b5b96;
  color: white;
}
.btn__split {
  display: flex;
  padding-bottom: 10px;
}
.btn__split_left {
  border-radius: 20px 0 0 20px;
  width: 88px;
  border-right-width: 1px;
  color: black;
  border-color: #e5e5e5;
  font-weight: 600;
}
.btn__split_left:hover {
  background-color: white;
  border-color: #e5e5e5;
  color: #24c36c;
}
.btn__split_right {
  border-radius: 0 20px 20px 0;
  width: 110px;
  border-left-width: 1px;
  color: black;
  border-color: #e5e5e5;
  text-transform: uppercase;
  font-weight: 600;
}
.btn__split_right:hover {
  background-color: white;
  border-color: #e5e5e5;
  color: #24c36c;
}
.btn__load {
  width: 266px;
  opacity: 0.8;
  margin-top: 50px;
}

.card {
  width: 268px;
  height: 365px;
  border-radius: 7px;
  color: #45413e;
  border: none;
  font-size: 1rem;
  position: relative;
}
.card:focus {
  outline: none;
}
.card__content {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 268px;
  height: 365px;
  left: 0;
  top: 0;
}
.card__overlay {
  background-image: linear-gradient(to top, rgba(28, 193, 103, 0.8), rgba(46, 211, 162, 0.8));
  border-radius: 7px;
  width: 268px;
  height: 365px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.card__img {
  display: block;
  width: 100%;
  border-radius: 7px 7px 0 0;
}
.card__text {
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.card__title {
  text-align: center;
  margin: 0 15px 0 15px;
  letter-spacing: -1px;
  line-height: 1.2rem;
  color: #45413e;
  text-decoration: none;
}
.card__title:hover {
  color: #85bc23;
}
.card__price {
  font-size: 0.875;
  margin-bottom: 15px;
}
.card__message {
  background-image: linear-gradient(to top, rgba(103, 91, 153, 0.8), rgba(220, 89, 135, 0.8)), url("../img/main/message.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.card:hover > .card__overlay {
  display: block;
}

.overlay__buttons-group {
  width: 268px;
  height: 365px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.overlay__button {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
}
.overlay__button:active {
  background-color: #f2f2f2;
}
.overlay__button_plus {
  color: #23c46e;
}
.overlay__button_heart {
  color: #e73c68;
}

@media (max-width: 769px) {
  .card {
    width: 290px;
  }
  .card__content {
    width: 100%;
  }
  .card__img {
    height: 260px;
  }
  .card__overlay {
    width: 100%;
  }

  .card:hover > .card__overlay {
    display: none;
  }
}
.link {
  text-decoration: none;
  color: #85bc23;
}
.link:hover {
  color: #67911b;
}

.fa-caret-down,
.fa-caret-up {
  padding-left: 15px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.color {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.white {
  background-color: white;
  border: 1px solid lightgrey;
}

.lightblue {
  background-color: #43c0cf;
}

.black {
  background-color: #3d402f;
}

.green {
  background-color: #4aaf00;
}

.blue {
  background-color: #315bbd;
}

.orange {
  background-color: #ec6115;
}

.red {
  background-color: #dc041d;
}

.grey {
  background-color: #efead7;
}

.header-desktop {
  position: fixed;
  display: flex;
  width: 1280px;
  background-color: white;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e8e2d6;
}

.header-mobile {
  display: none;
}

.header__dropdown_mobile {
  display: none;
}

.header__item, .menu .operations__item, .menu .settings__item, .menu .navigation__item {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  font-weight: 600;
}
.header__item:hover, .menu .operations__item:hover, .menu .settings__item:hover, .menu .navigation__item:hover {
  cursor: pointer;
}
.header__link {
  text-decoration: none;
  color: #45413e;
  width: 372px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.header__link:visited {
  color: inherit;
}
.header__link:hover {
  color: inherit;
  cursor: pointer;
}
.header__dropdown_desktop {
  display: none;
}
.header__dropdown_desktop.show {
  position: fixed;
  z-index: 11;
  top: 79px;
  padding: 50px 45px 40px 60px;
  background-color: #262a32;
  display: grid;
  grid-template-columns: 3fr 1fr 25%;
  color: white;
}
.header__dropdown_desktop.hide {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo__name {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.logo__name_main {
  height: 33px;
  color: #011847;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.logo__name_secondary {
  height: 25px;
  color: #85bc23;
  font-size: 18px;
  font-weight: 400;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}
.menu .navigation {
  height: 80px;
  padding: 0;
  margin: 0;
}
.menu .navigation__item {
  margin-top: 15px;
  padding: 10px 10px 28px;
}
.menu .navigation__item:hover {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .navigation__item:hover .header__link {
  color: #999999;
}
.menu .navigation__item.active {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .settings {
  margin-bottom: 5px;
}
.menu .settings__item {
  padding: 0 15px 0 15px;
  color: #999999;
}
.menu .settings__item:hover {
  color: #7f7f7f;
}
.menu .operations {
  margin-bottom: 0;
}
.menu .operations_mobile {
  display: none;
}
.menu .operations__item {
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1.4rem;
  position: relative;
}
.menu .operations__item:hover {
  color: #7f7f7f;
}
.menu .operations__item:visited {
  color: #b2b2b2;
}
.menu .operations__item a {
  color: #b2b2b2;
}

.dropdown__header {
  color: white;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 10px;
}
.dropdown__item {
  text-decoration: none;
  color: #45413e;
  display: block;
  opacity: 0.98;
  letter-spacing: 0.01rem;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.dropdown__item:visited {
  color: inherit;
}
.dropdown__item:hover {
  color: inherit;
  cursor: pointer;
}
.dropdown__item:hover {
  background-color: inherit;
}
.dropdown__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown__img {
  border: none;
  border-radius: 5px;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigation .dropdown-toggle::after {
  margin-left: 25px;
}

.settings .dropdown-toggle::after {
  margin-left: 15px;
}

.added__container_header {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  background-color: white;
  color: #85bc23;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 5px;
}

.cart__container,
.wishlist__container {
  display: none;
}

@media (max-width: 769px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    position: fixed;
    background-color: white;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #e8e2d6;
  }
  .header-mobile__group {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .header-mobile .menu__icon {
    position: absolute;
    left: 0;
    top: 25%;
    padding: 0;
    font-size: 2rem;
  }

  .logo__img {
    width: 45px;
    height: 45px;
  }

  .header__dropdown_mobile.hide {
    display: none;
  }

  .header__dropdown_mobile.show {
    display: block;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #262a32;
    color: white;
  }

  .collapse {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #262a32;
    color: white;
  }

  .collapsing {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #262a32;
    color: white;
  }

  .navigation {
    padding-left: 0;
  }
  .navigation .categories__item {
    padding-left: 25px;
  }

  .header__item, .menu .navigation__item, .menu .settings__item, .menu .operations__item {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
  }

  .header__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__collapsed {
    padding: 0;
  }

  .dropdown-header {
    text-decoration: none;
    color: #45413e;
    text-transform: capitalize;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 400;
  }
  .dropdown-header:visited {
    color: inherit;
  }
  .dropdown-header:hover {
    color: inherit;
    cursor: pointer;
  }

  .dropdown-img {
    width: 100%;
    border-radius: 5px;
  }
}
.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: #45413e;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__copyright {
  padding-bottom: 25px;
}
.footer__menu-desktop {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer__menu-mobile {
  display: none;
}
.footer__header {
  color: #45413e;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8125rem;
  text-decoration: none;
  color: #45413e;
}
.footer__header:visited {
  color: inherit;
}
.footer__header:hover {
  color: inherit;
  cursor: pointer;
}
.footer__header-mobile {
  display: none;
}
.footer__categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__icon {
  text-decoration: none;
  color: #45413e;
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1rem;
}
.footer__icon:visited {
  color: inherit;
}
.footer__icon:hover {
  color: inherit;
  cursor: pointer;
}
.footer__icon:hover {
  color: #7f7f7f;
}
.footer__icon:visited {
  color: #b2b2b2;
}
.footer__icon:hover {
  color: #b2b2b2;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.categories__column {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}
.categories__item {
  text-decoration: none;
  color: #45413e;
  padding: 8px 0;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.8125rem;
}
.categories__item:visited {
  color: inherit;
}
.categories__item:hover {
  color: inherit;
  cursor: pointer;
}

.operations_mobile {
  display: none;
}

.mail-to,
.call-to {
  text-decoration: none;
  color: #45413e;
}
.mail-to:hover,
.call-to:hover {
  color: #85bc23;
}

@media (max-width: 1279px) {
  .footer {
    grid-template-columns: 27% 1fr 5%;
  }
  .footer__social {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
  }
  .footer__social {
    flex-direction: row;
    justify-content: center;
  }
  .footer__header-desktop {
    display: none;
  }
  .footer__header-mobile {
    display: block;
  }
  .footer__menu-desktop {
    display: none;
  }
  .footer__menu-mobile {
    display: flex;
    flex-direction: column;
  }
  .footer__categories {
    display: flex;
    flex-direction: column;
  }
  .footer__collapsed {
    background-color: white;
    color: #45413e;
    padding: 0;
  }
  .footer__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .operations_mobile {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262a32;
    height: 55px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b2b2b2;
    padding-left: 0;
  }
  .operations_mobile .operations__item {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    font-weight: 600;
    color: #7c8084;
    margin: 0 20px;
    font-size: 1.5rem;
  }

  .categories__item {
    padding-left: 10px;
  }

  .operations__item {
    position: relative;
  }

  .added__container_footer {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #85bc23;
    background-color: #262a32;
    color: #85bc23;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 5px;
    right: -7px;
  }
}
.signin__content {
  width: 500px;
  height: 467px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.signin__heading {
  font-weight: 600;
}
.signin__notification {
  color: #85bc23;
  font-size: 0.75rem;
}
.signin__control {
  border-radius: 20px;
  margin-top: 10px;
}

.form-group {
  width: 405px;
}

.password-group {
  display: flex;
  width: 405px;
  justify-content: space-between;
  align-items: flex-end;
}

.password__field {
  position: relative;
}

.password__icon {
  color: #b2b2b2;
  position: absolute;
  top: 10px;
  right: 15px;
}
.password__icon:hover {
  cursor: pointer;
}

.cookies__modal {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.cookies__heading {
  color: #85bc23;
  font-size: 1rem;
  font-weight: 600;
}
.cookies__column_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
}
.cookies__column_left p {
  margin: 0;
  line-height: 24px;
  font-size: 0.875rem;
}
.cookies__column_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 20%;
}

.breadcrumb {
  padding-top: 45px;
  padding-bottom: 25px;
  justify-content: center;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #85bc23;
}
.breadcrumb-item a:hover {
  color: #67911b;
}

@media (max-width: 769px) {
  .breadcrumb {
    padding-top: 15px;
  }
}
.popular {
  background-color: #262a32;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular__title {
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
}
.popular__heading {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #393e44;
  line-height: 0.1rem;
  margin: 10px 0 20px;
}
.popular__heading span {
  background: #262a32;
  padding: 0 50px;
}
.popular__list {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 30px;
}

.message__content {
  width: 268px;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 35px 30px;
  font-size: 1rem;
  line-height: 1.5rem;
}
.message__text {
  padding-bottom: 15px;
}

@media (max-width: 1279px) {
  .popular {
    padding-top: 0;
  }
  .popular__list {
    width: 100%;
  }

  .message__content {
    width: 268px;
  }
}
@media (max-width: 769px) {
  .popular__list {
    margin: 0;
  }

  .popular__heading span {
    padding: 0 20px;
  }

  .message__content {
    width: 100%;
  }

  .btn__load {
    display: none;
  }
}
.featured {
  background-color: #262a32;
  color: white;
  padding-bottom: 60px;
}
.featured__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.featured__headding {
  font-weight: 900;
  font-size: 2rem;
}
.featured__line {
  width: 235px;
  border: 1px solid white;
  opacity: 1;
}
.featured__slashes {
  font-size: 1.5rem;
}
.featured__list {
  display: flex;
  justify-content: space-between;
}
.featured .card {
  height: 295px;
}
.featured .card__text {
  height: 90px;
}
.featured .card__tag {
  color: #85bc23;
  font-weight: 900;
  padding-bottom: 15px;
}
.featured .slick-list {
  margin: 0 -30px;
}
.featured .slick-slide {
  margin: 0 20px;
}

.pagination {
  display: flex;
  align-items: center;
  width: 590px;
  justify-content: space-between;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

.page-link {
  width: 30px;
  height: 30px;
  background-color: #2d3538;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.5rem;
}

.paginator {
  position: relative;
  float: right;
  margin-bottom: 20px;
}
.paginator li {
  margin-top: 20px;
  position: relative;
  float: left;
  margin-right: 20px;
}

.prev, .next {
  padding: 5px 10px;
  font-size: 0.7rem;
  background-color: #2d3538;
}
.prev:hover, .next:hover {
  cursor: pointer;
  background-color: #384246;
}

@media (max-width: 1279px) {
  .featured {
    display: none;
  }
}
.main {
  background-color: #f1edea;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.services__title {
  padding-bottom: 40px;
  width: 100%;
}
.services__heading {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid white;
  line-height: 0.1rem;
  margin: 10px 0 20px;
}
.services__heading span {
  background: #f1edea;
  padding: 0 50px;
}
.services__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 100px;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}
.services__control {
  border-radius: 20px;
  border: 2px solid #999999;
  padding: 0 0 0 25px;
  max-width: 200px;
  height: 35px;
}
.services__results {
  text-align: center;
  font-size: 0.875rem;
  margin: 30px;
}
.services__hide {
  display: none;
}

.settings-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
}
.settings-group label {
  font-weight: 600;
}

.color-group {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.popular__list {
  padding-bottom: 100px;
}

.featured {
  width: 1280px;
  margin-top: 75px;
}

@media (max-width: 769px) {
  .services__heading {
    font-size: 1.5rem;
  }
  .services__heading span {
    padding: 0 20px;
  }
  .services__title {
    padding-bottom: 10px;
  }
  .services__hide {
    display: block;
    color: #85bc23;
    margin-bottom: 25px;
  }
  .services__box {
    display: flex;
    flex-direction: column;
  }

  .popular__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
  }

  .btn__main {
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=services.css.map */
