@import 'variables';

.about {
  display: flex;
  height: 560px;
  padding-top: 25px;
  padding-bottom: 25px;

  &__carousell {
    width: 75%;
  }

  &__aside {
    width: 25%;
    height: 505px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: $element-border-radius;
  width: 870px;
  height: 505px;
  color: white;
  padding: 70px 65px 45px;
  display: flex;
  flex-direction: column;

  &__1 {
    background: url('../img/main/carousel-img-1.jpg') rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    filter: contrast(150%);
    align-items: flex-start;
  }

  &__2 {
    background-image: url('../img/main/carousel-img-2.jpg');
    align-items: center;
  }
  &__3 {
    background-image: url('../img/main/carousel-img-3.jpg');
    align-items: flex-end;
  }

  &__heading {
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 100px;
  }

  &__text {
    opacity: 0.7;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-bottom: 50px;
  }
}

.sale {
  height: 345px;
  width: 270px;
  background-image: url('../img/main/sale.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__percents {
    font-size: 6rem;
    font-weight: 900;
    margin: 35px auto;
  }

  &__text {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.social {
  &__text {
    &_main {
      font-size: 1.125rem;
      font-weight: 600;
      opacity: 0.7;
      margin-top: 35px;
      margin-bottom: 7px;
    }
    &_secondary {
      font-size: 0.8125rem;
      text-align: center;
      font-weight: 600;
      opacity: 0.8;
      letter-spacing: -0.01rem;
      line-height: 1rem;
      margin-bottom: 25px;
    }
  }
}
