@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: $text-main;
}

.wrapper {
  &_outer {
    width: 1280px;
    margin: 0 auto;
  }

  &_inner {
    padding: 0 55px;
  }
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrapper {
    &_outer {
      width: 100%;
    }

    &_inner {
      padding: 0 5%;
    }
  }
}

.main {
  padding-top: 80px;
}

@media (max-width: 769px) {
  .main {
    padding-top: 60px;
  }
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;

  &:focus {
    box-shadow: none;
  }

  &:focus:active {
    box-shadow: none;
  }

  &__more {
    color: #e8e2d6;
    border-color: #e8e2d6;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #e8e2d6;
      border-color: #e8e2d6;
      color: $text-main;
    }
  }

  &__main {
    color: white;
    border-color: $primary;
    background-color: $primary;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;
    width: 185px;

    &:hover {
      color: white;
      border-color: darken($primary, 10%);
      background-color: darken($primary, 10%);
    }

    &:focus {
      border-color: $primary;
      background-color: $primary;
    }
  }

  &__social {
    color: $social-color;
    border-color: $social-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;

    &:hover {
      background-color: $social-color;
      border-color: $social-color;
      color: white;
    }
  }

  &__split {
    display: flex;
    padding-bottom: 10px;

    &_left {
      border-radius: 20px 0 0 20px;
      width: 88px;
      border-right-width: 1px;
      color: black;
      border-color: #e5e5e5;
      font-weight: 600;

      &:hover {
        background-color: white;
        border-color: #e5e5e5;
        color: #24c36c;
      }
    }

    &_right {
      border-radius: 0 20px 20px 0;
      width: 110px;
      border-left-width: 1px;
      color: black;
      border-color: #e5e5e5;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
        background-color: white;
        border-color: #e5e5e5;
        color: #24c36c;
      }
    }
  }

  &__load {
    @extend .btn__more;
    width: 266px;
    opacity: 0.8;
    margin-top: 50px;
  }
}

.card {
  width: 268px;
  height: 365px;
  border-radius: $element-border-radius;
  color: $text-main;
  border: none;
  font-size: 1rem;
  position: relative;

  &:focus {
    outline: none;
  }

  &__content {
    border-radius: $element-border-radius;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 268px;
    height: 365px;
    left: 0;
    top: 0;
  }

  &__overlay {
    background-image: linear-gradient(
      to top,
      rgba(28, 193, 103, 0.8),
      rgba(46, 211, 162, 0.8)
    );
    border-radius: $element-border-radius;
    width: 268px;
    height: 365px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  &__img {
    display: block;
    width: 100%;
    border-radius: $element-border-radius $element-border-radius 0 0;
  }

  &__text {
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__title {
    text-align: center;
    margin: 0 15px 0 15px;
    letter-spacing: -1px;
    line-height: 1.2rem;
    color: $text-main;
    text-decoration: none;

    &:hover {
      color: $primary;
    }
  }

  &__price {
    font-size: 0.875;
    margin-bottom: 15px;
  }

  &__message {
    background-image: linear-gradient(
        to top,
        rgba(103, 91, 153, 0.8),
        rgba(220, 89, 135, 0.8)
      ),
      url('../img/main/message.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: $element-border-radius;
  }
}

.card:hover > .card__overlay {
  display: block;
}

.overlay {
  &__buttons-group {
    width: 268px;
    height: 365px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__button {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    font-size: 2rem;

    &:active {
      background-color: darken(white, 5%);
    }

    &_plus {
      color: #23c46e;
    }

    &_heart {
      color: #e73c68;
    }
  }
}

@media (max-width: 769px) {
  .card {
    width: 290px;

    &__content {
      width: 100%;
    }

    &__img {
      height: 260px;
    }

    &__overlay {
      width: 100%;
    }
  }
}

.link {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

.fa-caret-down,
.fa-caret-up {
  padding-left: 15px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.color {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.white {
  background-color: white;
  border: 1px solid lightgrey;
}

.lightblue {
  background-color: #43c0cf;
}

.black {
  background-color: #3d402f;
}

.green {
  background-color: #4aaf00;
}

.blue {
  background-color: #315bbd;
}

.orange {
  background-color: #ec6115;
}

.red {
  background-color: #dc041d;
}

.grey {
  background-color: #efead7;
}
