@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: $text-main;
}

.wrapper {
  &_outer {
    width: 1280px;
    margin: 0 auto;
    //background-color: green;
  }

  &_inner {
    margin: 0 55px;
  }
}
