@import 'variables';

.breadcrumb {
  padding-top: 45px;
  padding-bottom: 25px;
  justify-content: center;
}

.breadcrumb-item a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

@media (max-width: 769px) {
  .breadcrumb {
    padding-top: 15px;
  }
}
