.featured {
  background-color: $background-main;
  color: white;
  padding-bottom: 60px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__headding {
    font-weight: 900;
    font-size: 2rem;
  }

  &__line {
    width: 235px;
    border: 1px solid white;
    opacity: 1;
  }

  &__slashes {
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  .card {
    height: 295px;

    &__text {
      height: 90px;
    }

    &__tag {
      color: $primary;
      font-weight: 900;
      padding-bottom: 15px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  width: 590px;
  justify-content: space-between;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

.page-link {
  width: 30px;
  height: 30px;
  background-color: #2d3538;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1.5rem;
}

.slick-list {
  margin: 0 -30px;
}
.slick-slide {
  margin: 0 20px;
}

// .slick-arrow {
//   background-color: #2d3538;
//   top: -60px;
// }

.paginator {
  position: relative;
  float: right;
  margin-bottom: 20px;

  li {
    margin-top: 20px;
    position: relative;
    float: left;

    margin-right: 20px;
  }
}

.fas {
  padding: 10px;
  font-size: 0.7rem;
  background-color: #2d3538;

  &:hover {
    cursor: pointer;
    background-color: lighten(#2d3538, 5%);
  }
}

@media (max-width: 1279px) {
  .featured {
    display: none;
  }
}
