@import 'variables';

.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: $text-main;
  margin-top: 40px;
  margin-bottom: 40px;

  &__copyright {
    padding-bottom: 25px;
  }

  &__menu-desktop {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  &__menu-mobile {
    display: none;
  }

  &__header {
    @include menu_heading($text-main, 0.8125rem);
    @include link;

    &-mobile {
      display: none;
    }
  }

  &__categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__icon {
    @include link;
    @include icon(1rem);
    &:hover {
      color: $icon-color;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.categories {
  &__column {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
  }

  &__item {
    @include link;
    padding: 8px 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 0.8125rem;
  }
}

.operations_mobile {
  display: none;
}

.mail-to,
.call-to {
  text-decoration: none;
  color: $text-main;

  &:hover {
    color: $primary;
  }
}


@media (max-width: 1279px) {
  .footer {
    grid-template-columns: 27% 1fr 5%;

    &__social {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;

    &__social {
      flex-direction: row;
      justify-content: center;
    }

    &__header {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
      }
    }

    &__menu {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: flex;
        flex-direction: column;
      }
    }

    &__categories {
      display: flex;
      flex-direction: column;
    }

    &__collapsed {
      background-color: white;
      color: $text-main;
      padding: 0;
    }

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
  }

  .operations_mobile {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262a32;
    height: 55px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b2b2b2;
    padding-left: 0;

    .operations__item {
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: -0.01rem;
      font-weight: 600;
      color: #7c8084;
      margin: 0 20px;
      font-size: 1.5rem;
    }
  }

  .categories__item {
    padding-left: 10px;
  }

  .operations__item {
    position: relative;
  }

  .added__container_footer {
    @include added__container($background-main);
    right: -7px;
  }

  .cart__container,
  .wishlist__container {
    display: none;
  }
  
}
