@import 'variables';

.header-desktop {
  position: fixed;
  display: flex;
  width: 1280px;
  background-color: white;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e8e2d6;
}

.header-mobile {
  display: none;
}

.header__dropdown_mobile {
  display: none;
}

.header {
  &__item {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    @include link;
    width: 372px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
  }

  &__dropdown_desktop {
    display: none;
  }

  &__dropdown_desktop.show {
    position: fixed;
    z-index: 11;
    top: 79px;
    padding: 50px 45px 40px 60px;
    background-color: $background-main;
    display: grid;
    grid-template-columns: 3fr 1fr 25%;
    color: white;
  }

  &__dropdown_desktop.hide {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__name {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    &_main {
      height: 33px;
      color: #011847;
      font-size: 2rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    &_secondary {
      height: 25px;
      color: $primary;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;

  .navigation {
    height: 80px;
    padding: 0;
    margin: 0;

    &__item {
      @extend .header__item;
      margin-top: 15px;
      padding: 10px 10px 28px;

      &:hover {
        background-color: $background-main;
        border-bottom: 3px solid $primary;
        color: $text-secondary;
      }

      &:hover .header__link {
        color: $text-secondary;
      }

      &.active{
        background-color: $background-main;
        border-bottom: 3px solid $primary;
        color: $text-secondary;
      }
    }
  }

  .settings {
    margin-bottom: 5px;

    &__item {
      @extend .header__item;
      padding: 0 15px 0 15px;
      color: $text-secondary;

      &:hover {
        color: darken($icon-color, 20%);
      }
    }
  }

  .operations {
    margin-bottom: 0;

    &_mobile {
      display: none;
    }

    &__item {
      @extend .header__item;
      @include icon(1.4rem);
      position: relative;

      a {
        color: $icon-color;
      }
    }
  }
}

.dropdown {
  &__header {
    @include menu_heading(white, 1rem);
    padding-bottom: 10px;
  }

  &__item {
    @include link;
    display: block;
    opacity: 0.98;
    letter-spacing: 0.01rem;
    padding-top: 4px;
    padding-bottom: 3px;
    font-size: 0.875rem;
    text-transform: capitalize;

    &:hover {
      background-color: inherit;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    border: none;
    border-radius: 5px;
  }
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigation .dropdown-toggle::after {
  margin-left: 25px;
}

.settings .dropdown-toggle::after {
  margin-left: 15px;
}

.added__container_header {
  @include added__container(white);
}

.cart__container,
.wishlist__container {
  display: none;
}

@media (max-width: 769px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    position: fixed;
    background-color: white;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 60px;
    border-bottom: 1px solid #e8e2d6;

    &__group {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
    }

    & .menu__icon {
      position: absolute;
      left: 0;
      top: 25%;
      padding: 0;
      font-size: 2rem;
    }
  }

  .logo__img {
    width: 45px;
    height: 45px;
  }

  .header__dropdown_mobile.hide {
    display: none;
  }

  .header__dropdown_mobile.show {
    display: block;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: $background-main;
    color: white;
  }

  .collapse {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: $background-main;
    color: white;
  }

  .collapsing {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: $background-main;
    color: white;
  }

  .navigation {
    padding-left: 0;

    & .categories__item {
      padding-left: 25px;
    }
  }

  .header__item {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
  }

  .header__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__collapsed {
    padding: 0;
  }

  .dropdown-header {
    @include link;
    text-transform: capitalize;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  .dropdown-img {
    width: 100%;
    border-radius: 5px;
  }
}
