@import 'variables';

.popular {
  background-color: $background-main;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #393e44;
    line-height: 0.1rem;
    margin: 10px 0 20px;

    & span {
      background: $background-main;
      padding: 0 50px;
    }
  }

  &__list {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 30px;
  }
}

.message {
  &__content {
    width: 268px;
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 35px 30px;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__text {
    padding-bottom: 15px;
  }
}

@media (max-width: 1279px) {
  .popular {
    padding-top: 0;
    &__list {
      width: 100%;
    }
  }

  .message {
    &__content {
      width: 268px;
    }
  }
}

@media (max-width: 769px) {
  .popular__list {
    margin: 0;
  }

  .popular__heading span {
    padding: 0 20px;
  }

  .message {
    &__content {
      width: 100%;
    }
  }

  .btn__load {
    display: none;
  }
}
