@import 'variables';

.popular {
  background-color: $background-main;
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  &__headding {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 0;

    & span {
      display: inline-block;
      position: relative;
    }
  }

  &__list {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 30px;
  }
}

.popular__headding span:before,
.popular__headding span:after {
  content: '';
  position: absolute;
  border-top: 1px solid white;
  width: 500px;
  opacity: 0.2;
}

.popular__headding span:before {
  right: 100%;
  margin-right: 15px;
}
.popular__headding span:after {
  left: 100%;
  margin-left: 15px;
}

.message {
  &__content {
    width: 268px;
    height: 365px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 35px 30px;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &__text {
    padding-bottom: 15px;
  }
}

@media (max-width: 1279px) {
  .popular {
    padding-top: 0;
    &__list {
      width: 100%;
    }
  }

  .message {
    &__content {
      width: 268px;
    }
  }
}

@media (max-width: 769px) {
  .popular__list {
      margin: 0;
      // flex-direction: column;
      // align-items: center;
      // width: 100%;
  }

  .message {
    &__content {
      width: 100%;
    }
  }

  .popular__headding span:before,
  .popular__headding span:after {
    content: '';
    position: absolute;
    border-top: 1px solid white;
    width: 90px;
    opacity: 0.2;
  }

  .btn__load {
    display: none;
  }
}
