.signin {
  &__content {
    width: 500px;
    height: 467px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  &__heading {
    font-weight: 600;
  }

  &__notification {
    color: $primary;
    font-size: 0.75rem;
  }

  &__control {
    border-radius: 20px;
    margin-top: 10px;
  }
}

.form-group {
  width: 405px;
}

.password-group {
  display: flex;
  width: 405px;
  justify-content: space-between;
  align-items: flex-end;
}
