.slick-dots li button:before {
    font-family: 'slick';
     font-size: 8px;
     line-height: 20px;
     position: absolute;
     top: 0;
     left: 0;
     width: 20px;
     height: 20px;
     content: '•'; /* <-- Вот этот символ */
     text-align: center;
     opacity: .5;
     color: white;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   
   .slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
    padding-top: 3px;
    font-size: 35px;
    font-weight: 900;
    content: '°'; 
  }