$primary: #85bc23;
$secondary: #3b5b96;
$background-main: #262a32;

$text-main: #45413e;
$text-secondary: #999999;

$icon-color: #b2b2b2;
$social-color: #3b5b96;

$element-border-radius: 7px;

$not-bound-background: #f1edea;

@mixin link {
  text-decoration: none;
  color: $text-main;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
    cursor: pointer;
  }
}

@mixin menu_heading($color, $font-size) {
  color: $color;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;

  text-transform: uppercase;
  font-size: $font-size;
}

@mixin icon($font-size) {
  padding: 0 15px 10px 15px;
  color: $icon-color;
  font-size: $font-size;

  &:hover {
    color: darken($icon-color, 20%);
  }

  &:visited {
    color: $icon-color;
  }
}

@mixin added__container($color) {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid $primary;
  background-color: $color;
  color: $primary;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 5px;
}
